body {
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: whitesmoke;
    padding: 0;
}


.bomdia {
    color: brown;
}
 

#ola {
    color: green;
}